<li>
  <a href="https://github.com/Jamesbjj" target="_blank" title="James-github">
    <svg class="svg-icon grey">
      <use xlink:href="/assets/minima-social-icons.svg#github">james </use>
    </svg>
    <span class="username">Jamesbjj</span>
  </a>
</li>

<li>
  <a {% unless entry.platform == 'rss' %}rel="me" {% endunless %}href="https://twitter.com/James_dm5" target="_blank" title="{{ entry.title | default: entry.platform }}">
    <svg class="svg-icon grey">
      <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
    </svg>
  </a>
</li>
